<a href="https://colab.research.google.com/github/ganinurfadli/Data-Preparation/blob/master/Data_preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import relevant modules
from __future__ import absolute_import, division, print_function, unicode_literals
import functools
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns

from tensorflow import keras
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# Download data using URL then save as "data.csv"
URL = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQwPxotnLsgXuZt6tIXlAANttT3pxhP4ph0FhSjwvGUXfGKcnFRiqJORQg_9lBC77AH7QaxYypQ24nX/pub?output=csv"
dataset_path = keras.utils.get_file("data.csv", URL)
dataset_path

Downloading data from https://docs.google.com/spreadsheets/d/e/2PACX-1vQwPxotnLsgXuZt6tIXlAANttT3pxhP4ph0FhSjwvGUXfGKcnFRiqJORQg_9lBC77AH7QaxYypQ24nX/pub?output=csv
  90112/Unknown - 0s 1us/step

'/root/.keras/datasets/data.csv'

In [3]:

# Read data that had been dowloaded
dataframe = pd.read_csv(dataset_path)
dataframe.head()

         id diagnosis  ...  symmetry_worst  fractal_dimension_worst
0    842302         M  ...           4.601                    1.189
1    842517         M  ...         275.000                    8.902
2  84300903         M  ...           3.613                    8.758
3  84348301         M  ...           6.638                  173.000
4  84358402         M  ...           2.364                    7.678

[5 rows x 32 columns]